<!-- templates/admin/categories/view.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout-admin}">
<section layout:fragment="content">
    <h2>Category detail</h2>
    <div>
        <label>ID:</label> <span th:text="${category.categoryId}"></span>
    </div>
    <div>
        <label>Name:</label> <span th:text="${category.categoryName}"></span>
    </div>
    <div>
        <a th:href="@{/admin/categories}" class="btn btn-secondary">Back</a>
<!--        <a th:href="@{'/admin/categories/edit/' + ${category.categoryId}}" class="btn btn-primary">Edit</a>-->
        <a th:href="@{/admin/categories/edit/{id}(id=${category.categoryId})}" class="btn btn-primary">Edit</a>
    </div>
</section>
</html>
